body{
    background: #B8B8B8;
}

.navbar{
    height: 52px;
    background: linear-gradient(180deg, #5B5B5B 0%, rgba(91, 91, 91, 0) 100%);
}

.navbar i{
    color: #ffffff;
}

.card{
    position: relative;
    width: 98%;
    height: 88%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}